.parent {
    height: 400px;
    width: 400px;
    background-color: rgb(36, 61, 123);
}

.parent:hover .child {
    animation: left-to-right 1s ease-in forwards 3 500ms;
}

.child {
    height: 50%;
    width: 50%;
    background-color: red;
}

@keyframes left-to-right {
    0% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(100%);
    }

    50% {
        transform: translateY(100%) translateX(100%);
    }

    75% {
        transform: translateX(0%) translateY(100%);
    }

    100% {
        transform: translateX(0%) translateY(0%);
    }
}