.parent {
    height: 400px;
    width: 400px;
    background-color: rgb(36, 61, 123);
}

.parent:hover .child {
    transform: translateX(100%);
    animation: left-to-right 1s ease-in 500ms
}

.child {
    height: 50%;
    width: 50%;
    background-color: red;
    transition: 1s;
}

@keyframes left-to-right {
    0% {

    }

    25% {

    }

    50% {

    }

    75% {

    }

    100% {
        
    }
}